{# utente.html #}
{% extends "base.html" %}
{% block title %}Profilo Utente{% endblock %}

{% block content %}
  <header>
    <h1>Profilo Utente</h1>
  </header>
  <main>
    <section class="user-info">
      <h2>Ciao, {{ user.nome }}!</h2>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>ID Utente:</strong> {{ user.id }}</p>
      <p><strong>Annunci salvati per gatti:</strong> {{ user.savedc or "Nessuno" }}</p>
      <p><strong>Annunci salvati per cani:</strong> {{ user.savedD or "Nessuno" }}</p>
    </section>
  </main>

{% endblock %}
